
{% extends 'base.html' %}

{% block title %}Our Team - Modhumati Tours and Travels{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center mb-4 text-dark p-3">Meet Our Excellent Team</h1>

    {% for designation, members in grouped_members.items %}
    <div class="mb-5">
        <h3 class="text-primary text-center mb-5">{{ designation }}</h3>
        <div class="row justify-content-center">
            {% for member in members %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm text-center">
                    <img src="{{ member.image.url }}" class="card-img-top mx-auto d-block" alt="{{ member.name }}" style="height: 300px; width:300px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ member.name }}</h5>
                        <p class="card-text"><a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    
    <div class="text-center mb-4">
        <a href="/admin/tours/teammember/add/" class="btn btn-primary">Add Member</a>
    </div>
</div>
{% endblock %}
